* {
  /* border: solid 1px; */
  box-sizing: border-box;
  text-decoration: none;

  color: rgb(71, 71, 71);
}
.wrap {
  margin: 30px 0px;
}
body {
  margin: 0;
}
.ttl_en {
  font-size: 24px;
  font-family: "Indie Flower", cursive;
  color: rgb(206, 0, 62);
  margin: 0px 0px 0px 0px;
}
.ttl_jp {
  font-size: 28px;
  font-weight: bold;
  margin: 0px 0px 30px 0px;
}
.container_img {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.img_photo {
  width: 80%;
  height: auto;
}
ul {
  list-style: none;
  display: inline-block;
  display: flex;
  justify-content: space-around;
  padding: 0;
}
.container_btn {
  display: flex;
  justify-content: center;
  align-items: center;
}
.btn {
  width: 200px;
  padding: 10px 0;
  border-radius: 30px;
  text-align: center;
}

/* ヘッダー */
#part_header {
  display: flex;
  justify-content: space-between;
}
.container_logo {
  width: 20%;
}
nav {
  width: 40%;
}

/* アイキャッチ */
#part_eyecatch {
  margin-top: 20px;
  margin-bottom: 50px;
}
.text_en {
  font-size: 200%;
  font-family: "Indie Flower", cursive;
}
.container_text_eyecatch {
  margin: 0px 0px 0px 15%;
  position: relative;
}
.text_eyecatch_1 {
  font-size: 400%;
  font-weight: bold;
  color: rgb(206, 0, 62);
  line-height: 200%;
}
.text_eyecatch_2 {
  font-size: 150%;
  font-weight: bold;
  margin: 0;
  color: rgb(206, 0, 62);
}
.text_eyecatch_3 {
  font-size: 80%;
  margin: 0;
}
.emphasis_1 {
  color: rgb(0, 175, 137);
}
.container_img_eyecatch {
  width: 80%;
  display: flex;
  justify-content: flex-end;
  margin: -450px 0px 0px auto;
}

/* ニュース */
#part_news {
  margin: 40px 20%;
}
.container_list_news {
  border-top: 3px solid;
  border-bottom: 3px solid;
}
.list_vertical {
  display: block;
  margin: 32px 0px;
}
.list_horizontal {
  display: flex;
  justify-content: flex-start;
  border-bottom: 1px solid;
}
.list_horizontal li {
  margin: 20px 20px 20px 0px;
}
.item_list_2 {
  width: 100px;
  border-radius: 30px;
  color: #fff;
  text-align: center;
  background-color: rgb(206, 0, 62);
}

/* アバウト */
#part_about {
  margin: 10px 0px;
  padding: 20px 0px;
  background: rgb(224, 226, 241);
}
.ttl_about p {
  text-align: center;
}
.container_main_about {
  display: flex;
  justify-content: center;
  /* align-items: stretch; */
}
.container_text_about {
  width: 40%;
  font-size: 24px;
}
.container_text_about div {
  margin: 30px 90px;
}
.container_img_about {
  width: 40%;
  margin-bottom: 30px;
}

/* サービス */
#part_service {
  margin: 40px 40px;
  /* height: 600px; */
}
.grid_service {
  display: grid;
  grid-template-rows: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  /* margin: 10px 50px; */
}
.box1 {
  grid-column: 1/2;
  grid-row: 1/3;
  background-color: rgb(206, 0, 62);
}
.box1 * {
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.img_service_1 {
  width: 30%;
  align-items: center;
  justify-content: space-around;
  margin: 30px auto;
}
.text_service_1 {
  margin: 10px 50px 0px 50px;
}
.text_service_2 {
  margin: 10px 50px 50px 50px;
}

.box2 {
  grid-column: 2/3;
  grid-row: 1/2;
  background-color: rgb(206, 65, 106);
  display: flex;
  align-items: center;
}
.box2 * {
  color: #fff;
}
.img_service_2 {
  width: 25%;
  margin: 10px 10px;
}
.text_service {
  padding: 10px 30px;
}
.box3 {
  grid-column: 2/3;
  grid-row: 2/3;
  color: #fff;
  background-color: rgb(206, 115, 142);
  display: flex;
  align-items: center;
}
.box3 * {
  color: #fff;
}
.img_service_3 {
  width: 25%;
  margin: 10px 10px;
}

/* ブログ */
#part_blog {
  margin: 10px 0px;
  background: rgb(224, 226, 241);
  padding: 30px 60px;
}
.main_blog {
  display: flex;
  justify-content: space-between;
}
.card_blog {
  width: 30%;
  border-radius: 30px;
  background-color: #fff;
}
.item_card_category {
  width: 30%;
  border-top-left-radius: 10px;
  padding: 11px 10px 5px 20px;
  color: #fff;
  background-color: rgb(206, 0, 62);
  position: relative;
  z-index: 10;
}
.container_img_card {
  width: 100%;
}
.img_blog {
  width: 100%;
  border-radius: 10px;
  margin: -40px 0px 0px 0px;
}
.container_text_card {
  padding: 30px 40px;
}
.item_card_text {
  font-size: 120%;
  font-weight: bold;
  margin-bottom: 20px;
}
.card_tag {
  display: flex;
  justify-content: space-between;
}
.btn_blog {
  color: rgb(206, 0, 62);
  background-color: #fff;
  border: solid 2px;
  margin: 50px 0px;
}

/* カンパニー */
#part_company {
  margin: 40px 20%;
}
table,
th,
td {
  border-collapse: collapse;
  border: solid 2px rgb(196, 198, 211);
  padding: 10px;
}
table {
  width: 100%;
}
th {
  width: 30%;
  text-align: start;
  background: rgb(224, 226, 241);
}
td {
  width: 70%;
}

/* メッセージ */
#part_message {
  display: flex;
  align-items: center;
}
.container_message {
  width: 100%;
  position: relative;
}
.img_message {
  width: 100%;
}
.text_message {
  font-size: 24px;
  font-weight: bold;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
}

/* お問い合わせ */
#part_contact {
  text-align: center;
}
.text_contact {
  font-weight: bold;
}
.bar_contact {
  padding: 40px;
  border-left: 3px solid rgb(206, 0, 62);
  margin-left: 50%;
}
.btn_contact::before {
  content: "";
  background: url(../img/mailicon.svg);
  background-size: cover;
  vertical-align: middle;
  width: 25px;
  height: 25px;
  display: inline-block;
  margin: 10px 30px 10px -25px;
}
.btn_contact {
  width: 250px;
  color: #fff;
  background: linear-gradient(90deg, rgb(240, 2, 73), rgb(170, 0, 51));
  box-shadow: 0 7px 0 rgba(78, 0, 24, 1);
  margin: 25px 0px;
}

/* フッター */
#part_footer {
  text-align: center;
  line-height: 60px;
  background-color: rgb(224, 226, 241);
}
